<div id="main">
  <ul data="posts" id="posts">
    <li class="post">
      <ul class="post">
        <li class="prePost"><span class="date">About</span></li>
        <li class="break"><hr></li>
        <li class="postTitle">About Me</li>
        <li class="subTitle"> joseph sample</li>
        <li class="postContent">
          <img id="profile" src="assets/aboutMEtrimmed.png"/>
          <span class="content">
            <p>I am a software engineer specialized in Javascript libraries - specifically Angular.js, Backbone, Node.js, and Express.</p>
          <p>I love learning new technologies, and recently created an educational IDE using famo.us, a beta graphics library, utilizing the computer's GPU. Check it out in the projects section!</p>
          <p> I am a guitarist and spend several nights a week playing with my band The Surfer Girls.  We play melodic surf/garage-rock.  Check out surfermonks.bandcamp.com for information on booking / show dates / just plain listening :).</p>
          <p> Like Starcraft? Let's talk gaming.</p>
          </span>
          <!-- <img class="ninja" src="assets/purpleninja.gif"></img> -->
          <p> Add me on steam: redwoodfavorite</p>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
