<div id="main">
  <ul>
    <li class="prePost"><img id="ninja" src="assets/purpleninja.gif"></img><span class="date">About Me</span></li>
    <li class="break"><hr></li>
    <li class="image"> <img id="profile" src="/assets/aboutMEtrimmed.png"/></li>
    <li id="aboutMe">
      <div id="profile">
          <p>Joseph Sample</p>
          <p>21 year software engineer in San Fransisco.</p>
          <p>Guitarist/vocalist in garage-rock band Surfer Monks.</p>
          <p>Committed gamer.</P>
      </div>
    </li>
  </ul>
</div>
