
<div id="main">
  <ul data="posts" ng-repeat="post in posts track by $index" id="posts">
    <li class="post">
      <ul>
        <li class="break"><hr></li>
        <li class="postTitle">Sample entry number one {{post}}</li>
        <li class="subTitle">here is some sample subtext</li>
        <li class="postContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in diam ante, sit amet molestie risus. Etiam pellentesque aliquet enim, ut molestie enim suscipit vel. Donec odio est, cursus ac pulvinar a, elementum non elit. Donec non eros in neque dictum interdum ut hendrerit turpis. Morbi posuere massa at sapien elementum aliquet. Duis vel venenatis neque. Praesent venenatis tortor eget felis venenatis a pulvinar tortor laoreet. Vestibulum a nunc at metus ullamcorper rhoncus. Aenean malesuada pharetra justo in sollicitudin.</li>
      </ul>
    </li>
  </ul>
  <a checkUser href="/new">New Post</a>
</div>


