<div id="main">
  <ul data="posts" id="posts">
    <li class="post">
      <ul class="post">
        <li class="prePost"><span class="date">Projects</span></li>
        <li class="break"><hr></li>
        <li class="postTitle">Famo.us University</li>
        <li class="subTitle"> A learning platform for the Famo.us framework</li>
        <li class="postContent">
          <img id="project" src="assets/open.png"/>
          <span class="content"><p><b>Tech stack:</b> AceJS, EpicEditor, Angular, Famo.us, Express/Node, Firebase</p>

<p><b>Context:</b>  Famo.us is a new JavaScript framework that enables beautiful, native quality animations at 60 frames per second.</p>

<p>When new frameworks are introduced, the learning aspect usually takes a backseat to the codebase. With Famo.us University, Famo.us is changing the way that frameworks and other tools are brought to market and really emphasizes mass adoption through polished/guided resources.</p>

<p>Famo.us University allows for developers to quickly and easily get started with the Famous framework in a structured way. Famous U. is not only a learning platform, but also showcases what is possible with the framework because it is written entirely in the framework.</p>

<p><b>How it works:</b>  Famo.us U. is a learning platform that supports course creation/management/ and consumption by the user. The Famo.us team can create and manage courses through our online course manager and publish the courses to the public-facing site for users to learn from.</p>

<p>Course creation allows for the author to write lessons in markdown (live html preview). The author can also include template code for each lesson as well as tests for the users to pass.</p>

<p>From there, the users can go through courses where each course is broken down into lessons.
The user can see a live preview of the code, which is automatically updated anytime the code changes.
Famo.us University supports various keybindings that enables a more efficient experience with our IDE.</p>

<p><b>At launch, Famo.us University will serve as the framework’s first touch experience.</b></p>

<p> Other example codes will also be included for developers to look through, play with, and be inspired by.</p>
          </span>
        </li>
      </ul>
    </li>
    <li class="post">
      <ul class="post">
        <li class="prePost"><span class="date">Projects</span></li>
        <li class="break"><hr></li>
        <li class="postTitle">WikiViz</li>
        <li class="subTitle"> An interactive visualization of Wikipedia</li>
        <li class="postContent">
          <img id="project" src="assets/WikiViz.png"/>
          <span class="content"><p>WikiViz: Graph Visualization of Wikipedia Article Titles and Embedded Links.</p>

<p>Visualize and explore a graph of the embedded links within a Wikipedia article. The initial Wikipedia article title is the central node and titles of embedded links appear as child nodes distributed around the central node. Click on child nodes to reveal their embedded links and continue to grow your graph of article titles!</p>

<p>This project is in its early stages and will continue to grow with new features.</p>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
