<div id="main">
  <ul data="posts" id="posts">
    <li class="post">
      <ul class="post">
        <li class="prePost"><span class="date">Projects</span></li>
        <li class="break"><hr></li>
        <li class="postTitle">Famo.us University</li>
        <li class="subTitle"> A learning platform for the Famo.us framework</li>
        <li class="postContent">
          <img id="project" src="assets/open.png"/>
          <span class="content"><p>More Info coming soon!  Famo.us is launching very soon!</p>
          </span>
        </li>
      </ul>
    </li>
    <li class="post">
      <ul class="post">
        <li class="prePost"><span class="date">Projects</span></li>
        <li class="break"><hr></li>
        <li class="postTitle">WikiViz</li>
        <li class="subTitle"> An interactive visualization of Wikipedia</li>
        <li class="postContent">
          <img id="project" src="assets/WikiViz.png"/>
          <span class="content"><p>Coming Soon</p>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
