html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #EF5551;
  text-decoration: none;
}
li {
  list-style: none;
}
/*@font-face {
  font-family: Geneva;
  src: url('assets/Geneva.woff');
}*/

body::-webkit-scrollbar {
    display: none;
}
body {
/*  -webkit-perspective: 500px;  Chrome, Safari, Opera
  perspective: 500px;*/
  font: 75%/1.5em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;;
  font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  text-shadow: #000 0px 0px 0px;
  font-size: 75%;
  line-height:1.5em;
  /*overflow: hidden;*/
  background-color: #1C1B24;
  /*background-color: rgb(223, 111, 111);*/
}

li#siteTitle{
  -webkit-perspective: 500px;
  margin-bottom: 62px;
  margin-top: 140px;
  font-size: 100px;
  text-shadow: 1px 1px #656566, 2px 2px #656566, 3px 3px #656566, 4px 4px #656566, 5px 5px #656566, 6px 6px #656566, 7px 7px #656566, 8px 8px #656566, 9px 9px #656566, 10px 10px #656566;
  color: white;
  font-weight: 700;
}

li#aboutMe {
  display: inline-block;
  font-size: 20px;
  padding: 10px 28px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(253, 248, 248);
}

li.image {
  padding-top: 16px;
  float: left;
}

li.break {
  margin-top: 10px;
  margin-bottom: 30px;
}

li.index#blog{
  float: left;
  display: inline-block;
  height: 20px;
  font-size: 16px;
}

li.index#music {
  position: absolute;
  display: inline-block;
  left: 59%;
  height: 20px;
  font-size: 16px;
}

li.index#projects {
  position: absolute;
  display: inline-block;
  left: 26%;
  height: 20px;
  font-size: 16px;
}

li.index#about {
  float: right;
  display: inline-block;
  left: 65%;
  height: 20px;
  font-size: 16px;
}

li.index a {
  color: #A2A2A2;
}

li.post {
  width: 100%;
  margin: 0px 0px 160px 0px;
  display: inline-block;
}

li.prepost {
  height: 17px;
}

.index :hover {
  transition: color 0.3s ease;
  color: white;
}

li#siteSubTitle {
  font-size: 20px;
  color: #EF5551;
  font-weight: 700;
  font-weight: 300;
  margin-bottom: 48px;
}

ul.post {
  width: 100%;
  float:right;
}

ul#nav {
  position: relative;
  top: 80px;
  width: 70%;
  left: 15%;
}

ul#loginForm {

}

ul#loginForm {
  margin: 275px 60px 0px 0px;
}

ul#index {
  position: relative;
  width: 26%;
  left: 37%;
  height: 200px;
  margin-bottom: 40px;
}

li.postTitle {
  margin-bottom: 22px;
  font-size: 34px;
  color: white;
  /*text-shadow: 1px 1px rgb(113, 96, 128), 2px 2px rgb(113, 96, 128), 3px 3px rgb(113, 96, 128), 4px 4px rgb(113, 96, 128);*/
  font-weight: 900px;
  text-align: center;
  font-family: helvetica;
}


li#quote {
  width: 100%;
  margin-top: 200px;
  font-size: 16px;
  color: rgb(253, 248, 248);
  line-height: 40px;
  font-weight: lighter;
  font-style: italic;
}

li.subTitle {
  color: #EF5551;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
  font-style: italic;
  margin-bottom: 65px;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 2px solid #E2E2EB;
  margin: 1em 0; padding: 0;
}

li.postContent {
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
  color: white;
}

div#home {
  position: fixed;
  top: 30px;
  left: 30px;
  opacity: 0;
}

div#about {
  float: right;
  padding: 200px 0px 0px 0px;
  width: 60%;
  position: absolute;
  margin-left: 5%;
}

div#follow {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

div#follow span {
  color: rgba(57, 60, 75, 1);
  font-weight: lighter;
  font-size: 30px;
}

div#topbar {
  top: 125px;
  position: relative;
  width: 100%;
  text-align: center;
  height: 100%;
  overflow: hidden;
  /*background-color: #1C1B24;*/
}

div#sidebar {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 100%;
  overflow: hidden;
  /*background-color: #1C1B24;*/
}

/*div#sidebar hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid darkgray;
  margin: 1em 0; padding: 0;
}*/

div#main {
  display: inline-block;
  position: absolute;
  width: 34%;
  left: 33%;
  top: 200%;
}

div#container {
  display: inline;
}

div#username {
  color: rgb(253, 248, 248);
  font-size: 20px;
}

/*div.sideicon {
  border-radius: 5px;
  width: 95px;
  height: 95px;
  position: relative;
  top: 40px;
  display: inline-block;
  background-color: #E2E2EB;
}*/

div#password {
  color: rgb(253, 248, 248);
  font-size: 20px;
}

input#username {
  margin-top: 10px;
  font-size: 20px;
  display: block;
}

input#password {
  margin-top: 10px;
  font-size: 20px;
  display: block;
}

p {
  margin-bottom: 25px;
}

b {
  color: #EF5551;
}

pre.code {
  margin-bottom: 35px;
}

code {
  max-width: 100px;
}

img#home {
  width: 45px;
  height: 45px;
}

img.ninja {
  position: absolute;
  right: 44%;
  bottom: 130px;
}

img.logo {
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

img#project {
  position: relative;
  margin: 0px 0px 25px 0px;
  float: left;
  display: inline-block;
  border-radius: 15px;
}

img#profile {
  position: relative;
  margin: 0px 20px 5px 0px;
  float: left;
  display: inline-block;
  border-radius: 15px;
}

p.quote {
  font-style: italic;
  font-weight: lighter;
}

span.date {
  font-size: 18px;
  color: #EDE6E9;
  font-weight: lighter;
  float: right;
}

span.content {
  line-height: 30px;
}

li#aboutTitle {
  margin-bottom: 18px;
  font-size: 36px;
  color: rgb(253, 248, 248);
  text-shadow: 4px 4px rgb(113, 96, 128);
  font-weight: 700px;
  font-family: helvetica;
}

iframe#bandcamp {
  height: 1750px;
  width: 100%;
}
