html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #747474;
  text-decoration: none;
}
li {
  list-style: none;
}
/*@font-face {
  font-family: Geneva;
  src: url('assets/Geneva.woff');
}*/
body {
  font: 75%/1.5em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;;
  font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  text-shadow: #000 0px 0px 0px;
  font-size: 75%;
  line-height:1.5em;
  background-color: rgb(33, 33, 33);
  /*background-color: rgb(223, 111, 111);*/
}

li#siteTitle{
  margin-bottom: 46px;
  font-size: 70px;
  text-shadow: 1px 1px rgb(113, 96, 128),2px 2px rgb(113, 96, 128),3px 3px rgb(113, 96, 128),4px 4px rgb(113, 96, 128),5px 5px rgb(113, 96, 128),6px 6px rgb(113, 96, 128),7px 7px rgb(113, 96, 128),8px 8px rgb(113, 96, 128),9px 9px rgb(113, 96, 128),10px 10px rgb(113, 96, 128);
  color: rgb(253, 248, 248);
  font-weight: 700;
}

li#aboutMe {
  display: inline-block;
  font-size: 20px;
  padding: 10px 28px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(253, 248, 248);
}

li.image {
  padding-top: 16px;
  float: left;
}

li.break {
  margin-top: 10px;
  margin-bottom: 30px;
}

li.index {
  margin-bottom: 20px;
  font-size: 16px;
  color: #747474;
}

li.prepost {
  height: 17px;
}

.index :hover {
  transition: font-size 0.3s ease;
  color: #A2A2A2;
  font-size: 22px;
}

li#siteSubTitle {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-bottom: 48px;
}

ul#nav {
  margin: 80px 70px 0px 70px;
  width: 70%;
}

ul#loginForm {

}

ul#loginForm {
  margin: 275px 60px 0px 0px;
}

ul#index {
  position: absolute;
  margin-bottom: 40px;
}

li.postTitle {
  margin-bottom: 22px;
  font-size: 34px;
  color: rgb(253, 248, 248);
  text-shadow: 4px 4px rgb(113, 96, 128);
  font-weight: 700px;
  font-family: helvetica;
}


li#quote {
  width: 100%;
  margin-top: 200px;
  font-size: 16px;
  color: rgb(253, 248, 248);
  line-height: 40px;
  font-weight: lighter;
  font-style: italic;
}

li.subTitle {
  color: #585858;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 50px;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid darkgray;
  margin: 1em 0; padding: 0;
}

li.postContent {
  font-size: 17px;
  margin-bottom: 100px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(253, 248, 248);
}


div#about {
  display: inline-block;
  padding: 200px 0px 0px 0px;
  width: 60%;
  left: 20%;
  position: absolute;
  margin-left: 5%;
}

div#sidebar {
  width: 20%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  top:0px;
  position: fixed;
}

div#main {
  display: inline-block;
  padding: 182px 0px 0px 0px;
  width: 60%;
  left: 18%;
  position: absolute;
  margin-left: 5%;
}

div#container {
  display: inline;
}

div#username {
  color: rgb(253, 248, 248);
  font-size: 20px;
}

div#password {
  color: rgb(253, 248, 248);
  font-size: 20px;
}

input#username {
  margin-top: 10px;
  font-size: 20px;
  display: block;
}

input#password {
  margin-top: 10px;
  font-size: 20px;
  display: block;
}

p {
  margin-bottom: 25px;
}

pre.code {
  margin-bottom: 35px;
}

code {
  max-width: 100px;
}

img#ninja {
  position: relative;
  top: -45px;
  left: 93%;
}

img#profile {
  width: 320px;
  height: 315px;
  border-radius: 20px;
}

p#quote {
  margin-top: 35px;
}

span.date {
  font-size: 18px;
  margin-right: 58px;
  color: rgb(253, 248, 248);
  font-weight: 700;
  font-family: helvetica;
  font-weight: lighter;
  float: right;
}

li#aboutTitle {
  margin-bottom: 18px;
  font-size: 36px;
  color: rgb(253, 248, 248);
  text-shadow: 4px 4px rgb(113, 96, 128);
  font-weight: 700px;
  font-family: helvetica;
}

